<div class="product">
    <h1>{{burger.name}}</h1>
    <img src="{{burger.img}}" alt="{{burger.name}}">
    <ul> Дополнения:
    {{#each burger.toppings}}
    <li>{{this}}</li>
    {{/each}}
    </ul>
    <p class="price big">{{burger.price}}</p>
</div>